<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>任务六</title>
    <style type="text/css">
        body
        {
            width:980px;
            height:1386px;
            border:1px solid gray;
            margin:0 auto;
        }

        #main
        {
            margin-left:4%;
        }

         .box
         {
             background-color: #ff778f;
             width:110px;
             height:61px;
             border:1px solid white;
             margin-bottom:0px;
         }

        .text1
        {
            color: white;
            margin-top: 46px;
            font-size: 12px;
            margin-left: 14px;
        }
           .text2
        {
            font-size: 12px;
            position: relative;
            margin-top: -24px;
            margin-left: 851px;
            color: #d45d5c;
        }

       hr.line1
        {
            width:892px;
            border:1.5px solid #938e8c;
            margin-top:-1px;
            margin-left:1px;
        }

       .img
       {
           margin-top: 32px;
           padding: 0;
           width:641px;
           height:301px;

       }
        .img_one_1
       {
           background: #72A664;
           opacity: 0.5;
           width: 191px;
           height: 301px;
           padding: 0;
           margin-top: -303px;
       }

       .img_one_2
       {
           background: #E1ABC3;
           opacity: 0.5;
           width: 191px;
           height: 301px;
           padding: 0;
           margin-left: 449px;
           margin-top: -300px;
       }


         hr.line11
         {
             width: 203px;
             border: 1.5px solid #cc8091;
             float: right;
             margin-top: -300px;
             margin-right: 50px;
         }

         P.text3
         {
             float: right;
             margin-top: -280px;
             font-size: 24px;
             font-family: 微软雅黑；
             color:#000000;
             margin-right: 180px;
             text-transform:capitalize;
         }


         hr.line2
         {
             width: 76px;
             border: 1px solid black;
             float: right;
             margin-top: -254px;
             margin-right: 180px;
        }

        P.text4
        {
            font-size: 24px;
            font-family:微软雅黑；
            color:#000000;
            float: right;
            margin-top: -239px;
            margin-right: 94px;
        }

        hr.line3
        {
            width: 164px;
            size: 2px;
            border: 1px solid black;
            float: right;
            margin-top: -215px;
            margin-right: 92px;
        }
        
         p.text5,p.text6
         {
             font-size:12px;
             color:#676767;
             font-family:"楷体"

         }


         p.text5
         {
             float: right;
             margin-top: -207px;
             margin-right: 40px;
         }

        p.text6
        {
            float: right;
            margin-top: -191px;
            margin-right: 149px;

        }
        
        p.text7
        {
            float: right;
            margin-top: -163px;
            margin-right: 79px;
            font-size: 116px;
            color: #75b86b;
            font-family: 微软雅黑；;
            font-style:italic;

        }

        p.text8
        {
            float: right;
            margin-top: -49px;
            margin-right: -88px;
            color: #cc8091;
            font-family: 微软雅黑；;
            font-size: 55px;
        }

         p.text9
         {
             font-size: 21px;
             color: #cc8091;
             float: right;
             margin-top: -38px;
             margin-right: -124px;
         }
         
         p.text10
         {
             font-size: 12px;
             color: #cc8091;
             float: right;
             margin-top: -16px;
             margin-right: -159px;
         }

        p.title1
        {
            font-size: 16px;
            color: #418c59;
            margin-left: 0px;
            margin-top: 30px;
            font-weight:bold;
        }

        hr.line4,hr.line5,hr.line6
         {
             width: 39px;
             margin-top: -14px;
             margin-left: 1px;
             color: #418c59;

         }

         hr.line4
         {
             border: 1px solid #418c59;
         }


        hr.line5
        {
            border: 1px solid #d2994f;
        }

        hr.line6
        {
            border: 1px solid #cc7680;
        }

        p.text11,p.text12,p.text13,
        {
            color:gray;
            line-height:16px;
        }
        
        p.title2
        {
            color:#d2994f;
        }

        p.title3
        {
            color:#cc7680;
        }

        .middle-mid
        {
            float: right;
            margin-right: 458px;
            margin-top: -196px;
        }

        .middle-right
        
           {
                color:#f5e327;
                float: right;
                margin-right: 299px;
                margin-top: -196px;
            }

        .number
        {
            font-size:12px;
            color:#cd4a48;
            line-height:16px;
            margin-top: -4px;
        }

       p.text21
        {
            font-size:72px;
            font-style:italic;
        }

        p.text22
        {
            color: #11456b;
            font-size: 42px;
            float: right;
            margin-right: 506px;
            margin-top: -121px;
        }

        p.text23
        {
            color: #11456b;
            font-size: 42px;
            margin-right: 600px;
            margin-top: -80px;
        }

        p.text24
        {
            color: #11456b;
            font-size: 33px;
            margin-left: 6px;
            margin-top: -28px;
        }

       hr.line7
        {
            width: 415px;
            border:1.5px solid #11456b;
            color:#11456b;
            margin-left: 8px;
            margin-top: -22px;
        }

        p.text11,p.text12,p.text13
        {
            color:gray;
        }


         .content
        {
             color:gray;
        }

        .content strong
        {
            font-size: 70px;
            color: #f4e327;
            float: left;
            margin-left: -21px;
        }

        p.box11
        {
            width: 430px;
            margin-left: 10px;


         }
        img.picture1
         {
            float: right;
            margin-right: 516px;
            margin-top: -15px;
        }


        img.picture2
        {
            float: right;
            margin-right: 19px;
            margin-top: -584px;
        }

        .box2
        {
            background-color: #f7f1c3;
            width: 459px;
            height: 318px;
            margin-right: 18px;
            margin-top: -310px;
            float: right;
        }
      
        ul.list
        {
            list-style-type:square;
        }

        li
        {
            line-height:40px;
            font-size:16px;
            color:#5a5b5b;
        }

        span.text31
        {
            font-style:italic;
            font-size:12px;
            color:#5a5b5b;
        }
        
        .box3
        {
            width: 260px;
            height: 160px;
            background-color: #de5656;
            float: right;
            margin-right: 216px;
            margin-top: -161px;
        }

        p.text32
        {
            font-size: 110px;
            color: white;
            margin-top: 32px;
            margin-left: 11px;
        }


        .text41,.text42
        {
            font-size:21px;
            float: right;
            color: white;
            font-family:黑体；
            font-style:italic;
        }


        .text41
        {
            margin-right: 74px;
            margin-top: -207px;
        }

        .text42
        {
            margin-right: 8px;
            margin-top: -183px;
       }
        
        .text43,.text44
        {
            font-size: 12px;
            font-style: italic;
            color:white;
            float:right;
        }

        .text43
        {
            margin-right: 40px;
            margin-top: -154px;
        }

        .text44
        {
            margin-right: 108px;
            margin-top: -140px;
        }

        .text51
        {
            color: gray;
            margin-right: 11px;
            margin-top: -112px;
            font-style: italic;
            float: right;
        }

        .bd1,.bd2
        {
            float:right;
            color:#d45d5c;
            font-size:72px;

        }

        .bd1
        {
            margin-left:10px;
            margin-top:20px;
        }

          .bd2
        {
            margin-right: 48px;
            margin-top: -28px;
        }


        hr.line8
        {
            width:892px;
            size:1px;
            color:#938e8c;
            margin-left:0px;
        }

        p.text61
        {
            color: #d45d5c;
            font-size: 12px;
            float: right;
            margin-right: 45px;
            margin-top: -5px;
        }
